<app-top-navbar></app-top-navbar>

<div class="booking-search-wrapper">
  <h2 class="title">¡Reserva ya tu estadía!</h2>
  <div class="booking-panel">
    <div class="date-controls" #dateControls>
      <app-date-picker
        (abrirCalendario)="mostrarCalendario($event)"
        [isActive]="isCalendarVisible"
        [tipoActivo]="tipoActivo"
        [fechaEntrada]="fechaEntrada"
        [fechaSalida]="fechaSalida"
      ></app-date-picker>

      <div *ngIf="isCalendarVisible">
        <app-calendar-container
          *ngIf="isCalendarVisible && tipoActivo"
          (fechaSeleccionada)="onFechaSeleccionada($event)"
          [fechaEntrada]="fechaEntrada"
          [fechaSalida]="fechaSalida"
          [minDate]="getMinDate()"
          [modo]="tipoActivo"
        ></app-calendar-container>
      </div>
    </div>

    <div #roomWrapper class="guest-room-wrapper">
      <app-guest-selector
        (showRoomSelector)="mostrarRoomSelector()"
        [isActive]="roomSelectorVisible"
        [resumen]="resumenHabitaciones"
      ></app-guest-selector>

      <div class="room-selector-container" *ngIf="roomSelectorVisible">
        <app-room-selector
          (habitacionesAplicadas)="actualizarResumen($event)"
          (habitacionesCambiadas)="actualizarResumen($event)"
          [rooms]="rooms"
          [puedeAplicar]="puedeAplicar()"
          (aplicar)="aplicarBusqueda()"
        ></app-room-selector>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mostrarListaHabitaciones != true">
  <app-image-carousel
    [images]="['assets/foto1.jpg', 'assets/foto2.jpg', 'assets/foto3.jpg']"
  ></app-image-carousel>
</div>

<div *ngIf="mostrarListaHabitaciones === true">
  Hola Mundo
</div>
