<div class="modal-overlay" *ngIf="isVisible" (click)="close()">
  <div class="modal" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h2 class="modal-title">{{ room.nombre }}</h2>
      <button class="close-button" aria-label="Cerrar" (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <img [src]="room.imagen" alt="Habitación doble" class="main-image" />

    <div class="modal-body">
      <div class="room-details">
        <ul class="basic-info">
          <li>
            <mat-icon class="icon">square_foot</mat-icon> {{ room.metros }} m²
          </li>
          <li><mat-icon class="icon">bed</mat-icon> {{ room.camas }}</li>
          <li><mat-icon class="icon">landscape</mat-icon> {{ room.vista }}</li>
          <li>
            <mat-icon class="icon">check_circle</mat-icon>
            {{ room.servicios.join(", ") }}
          </li>
        </ul>

        <p class="description">
          {{ room.descripcion }}
        </p>
      </div>

      <div class="facilities">
        <h3>Instalaciones</h3>
        <ul class="grid">
          <li *ngFor="let facility of room.instalaciones">
            {{ facility }}
          </li>
        </ul>
      </div>

      <div class="price-box">
        <p class="old-price">
          desde
          <span class="strike"
            >${{ room.precioOriginal | number : "1.0-0" }}</span
          >
        </p>
        <p class="price">${{ room.precioFinal | number : "1.2-2" }}</p>
        <button class="select-offer">SELECCIONE OFERTA</button>
        <small class="tax-note">Excluye impuestos y cargos</small>
      </div>
    </div>
  </div>
</div>
